.imgg{
    width: 100%;
    height: auto;
    background: cover;
    opacity: 0.7;
    background-position: center;
    display: flex;
    flex: 1;
    position: relative;
    margin-bottom: 60px;
}
.imgg img{
    height: auto;
    width: 100%;
    display: block;
}
*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 55px;
    width:100%;
    top:0;
    align-items: center;
    position: fixed;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    z-index: 100;
    box-shadow: 3px;
}
.left{
    display: flex;
}
.left a{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    margin-left: 30px;
    color: black;
    letter-spacing: 3px;
    padding: 10px;
    text-decoration: none;
    flex-shrink: 0;
}
.left a:hover{
    background-color: lightgray;
    padding: 10px;
    cursor: pointer;
}
.right{
    display: flex;
}
@media(max-width: 500px){
    .right{
        display: none;
    }
}
.right a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    margin: 5px;
    font-size: 13px;
    padding: 10px;
    text-align: center;
    color: black;
    letter-spacing: 3px;
    font-weight: 500;
}
.right a:hover{
    background-color: lightgray;
    padding: 10px;
    cursor: pointer;
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 54px;
    font-weight: bold;
    color: rgb(68, 35, 35);
    font-family: 'Raleway', sans-serif;
    padding: 10px 20px;
}
.ppage{
    margin-bottom: 20px;
    padding-top: 80px;
    margin-top: -60px;
}
.project{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
}
hr{
    border: 1px solid rgb(226, 224, 224);
    margin: 30px 30px;
}
.set {
    display: grid;
    grid-template-columns:repeat(4,1fr);
    column-gap: 14px;
    row-gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
@media(max-width: 900px){
    .set{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width: 600px){
    .set{
        grid-template-columns: 1fr;
    }
}
.set img{
   width:100%;
   height: 240px; 
}
.set p{
    position: absolute;
    background-color: black;
    color: white;
    padding: 8px;
}
.apage{
    margin-bottom: 40px;
    margin-right: 30px;
    padding-top: 80px;
    margin-top: -60px;
}
.About{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    font-weight: 500;
}
hr{
    border: 1px solid rgb(226, 224, 224);
    margin: 30px 30px;
}
.para{
    font-family: 'Raleway', sans-serif;
    margin: 0 30px;
    line-height: 22px;
    font-size: 14px;
    font-weight: 450;
    text-align: justify;
}
.authors{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 14px;
    row-gap: 10px;
    margin: 30px;
}
.authors img{
    width:100%;
    height: 400px;
}
@media(max-width: 900px){
    .team{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width: 600px){
    .team{
        grid-template-columns: 1fr;
    }
}
.a1{
    font-size: 20px;
    margin: 10px 0px;
}
.a2{
    font-size: 15px;
    color: rgb(110, 110, 110);
}
.a3{
    font-size: 18px;
    margin: 10px 0px;
}
.button{
    padding: 10px;
    width: 100%;
    font-size: 14px;
    color: black;
    border: none;
}
.button:hover{
    background-color: lightgray;
    cursor: pointer;
}
.cpage{
    margin-bottom: 40px;
    margin-right: 30px;
    padding-top: 80px;
    margin-top: -60px;
}
.Contact{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    font-weight: 500;
}
hr{
    border: 1px solid rgb(226, 224, 224);
    margin: 30px 30px;
}
.line{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: 0px 30px;
}
.submit{
    background-color: black;
    color: white;
    border: none;
    padding: 11px 15px;
    margin-left: 30px;
    margin-top: 14px;
}
.submit:hover{
    background-color: lightgray;
    color: black;
    cursor: pointer;
}
.submit:active{
    background-color: beige;
}
.details input{
    display: flex;
    flex-direction: column;
    margin: 17px 30px;
    width: 95%;
    padding: 8px;
    border: 1px solid lightgray;
}
.map{
    display: flex;
    flex: 1;
    width: 95%;
    height: auto;
    margin: 0px 30px 8px;
}
footer{
    background-color: black;
    color: white;
    height: 45px;
    text-align: center;
    padding-top: 38px;
}
.link{
    color: white;
}
.link:hover{
    color: green;
}